body {
    background-image: url(assets/blobs.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#headshot {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.info {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: "Londrina Solid", sans-serif;
    font-size: large;
    color: #303030;
}

.contactIcon:hover {
    filter: invert(100%);
}